*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', monospace;
   
}


.navbar{
    background:#5a2e04;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19.2px;
    position: sticky;
    top: 0;
    z-index: 999;

}

.nav_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar_logo{
    background-color: #b15e10;
    background-image: linear-gradient(to top, #b66c27 0%, #f1a863 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.nav_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    width:450px;
}

.nav_item{
    height: 80px;
}

.nav_links{
    padding:0 16px;
    font-size: 20px;
    color: #f1a863;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
}

.nav_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration: none; */
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #462506;
    color:#f7bd88;
    font-size: 25px;
    text-decoration: none;
}
.articles_button a{
    text-decoration: none;
    
    font-size: 18px;
    font-weight: bold;
    color:#5a2e04;
    background-color:#f1a863;
}

.articles_button{
    background-color: #f1a863;
    text-align: center;
    margin: 1% 40%;
}

.bottom_button:hover{
    background:#975414;
    color:#f8cfa9;
    transition: all 0.3s ease;
}

.button:hover{
    background:#975414;
    color:#f8cfa9;
    transition: all 0.3s ease;
}

.nav_links:hover{
    color:#f8cfa9;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .nav_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding:0;
    }

    #navbar_logo{
        font-size: 26px;
    }

    .nav_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position:absolute;
        padding-top: 80px;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #5a2e04;
    }

    .nav_menu.active{
        background: #5a2e04;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;

    }

    #navbar_logo{
        padding-left: 30px;

    }

    .nav_toggle .bar{
        width: 25px;
        height: 3px;
        margin:5px auto;
        transition: all 0.5s ease-in-out;
        background: #f7d0ab;
        display: block;
        cursor: pointer;

    }

    #mobile_menu {
        position:absolute;
        top: 20%;
        right:5%;
        transform: translate(5%, 20%);
    }

    #mobile_menu.is_active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile_menu.is_active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile_menu.is_active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_item{
        width: 100%;

    }

    .nav_links{
        text-align: center;
        padding: 32px;
        width: 100%;
        display: table;
    }

    

    .nav_btn{
        padding-bottom: 32px
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin:0;
    }

    .articles_button a{
        font-size: 12px;
        font-weight: light;
    }

    .articles_button{
        margin: 20px 100px;
    }


}
 
h1 {
    font-family: Cambria, serif;
    padding: 50px 50px 0px;
    background-color:#f8cfa9;
    color: #5a2e04;
}

 h2, p{
    font-family: Cambria, serif;
    padding: 20px;
    background-color:#f8cfa9;
    font-size: 17px;
    font-weight: lighter;
    color: #5a2e04;
 }

 i{
    font-family: Cambria, serif;
    font-size: 17px;
 }


 .subheading{
    background-color:#94551a;
    height: 100%;
    padding-bottom: 40px;
 }

 .introduction_container{
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100%;
    background-color: #94551a;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
 }
 

 .readerpic{
    display: float;
    justify-content: right;
    align-items: center; 
 }

 #main__img{
    width: 400px;
    height: auto;
    float:left;
    padding: 10px;
 }

 .ribbon p{
    display:flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    color: #94551a;
    height: 100%;
    width: 100%;
    font-size: small;
 }
 .ribbon{
    height: 100px;
 }
 
